# Load Model

In [1]:
import pickle

In [2]:
model_pkl_linear='Sukhinina_multi_linear_regression_model.pkl'

In [3]:
with open(model_pkl_linear,'rb') as model_pkl:
    prediction_model=pickle.load(model_pkl)

C:\Users\NCCT326-3\Anaconda3\lib\site-packages\sklearn\base.py:251: UserWarning: Trying to unpickle estimator GradientBoostingRegressor from version 0.19.2 when using version 0.20.1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)
C:\Users\NCCT326-3\Anaconda3\lib\site-packages\sklearn\base.py:251: UserWarning: Trying to unpickle estimator DecisionTreeRegressor from version 0.19.2 when using version 0.20.1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)
C:\Users\NCCT326-3\Anaconda3\lib\site-packages\sklearn\base.py:251: UserWarning: Trying to unpickle estimator MultiOutputRegressor from version 0.19.2 when using version 0.20.1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

# Prediction

predict zno_math, zno_ukr, zno_additional;

all parameters: [6-12]

In [4]:
import pandas as pd

In [5]:
new_data=pd.DataFrame(data={'algebra':[7],'biolog':[7],'chem':[11],'eng_lang':[12], 'geogr':[9], 'geom':[8], 'hist_ukr':[8], 'inform':[11], 'physics':[11], 'ukr_lang':[12], 'ukr_lit':[9], 'world_hist':[10], 'world_lit':[10]})
new_data

,algebra,biolog,chem,eng_lang,geogr,geom,hist_ukr,inform,physics,ukr_lang,ukr_lit,world_hist,world_lit
0,7,7,11,12,9,8,8,11,11,12,9,10,10

In [6]:
output=prediction_model.predict(new_data)
output

array([[179.29097127, 171.40512043, 178.41068477]])

In [15]:
output_data=pd.DataFrame({'zno_math': [round(output[0][0])],'zno_ukr':[round(output[0][1])],'zno_additional':[round(output[0][2])]})

In [16]:
output_data

   zno_math  zno_ukr  zno_additional
0     179.0    171.0           178.0

In [17]:
new_data1=pd.DataFrame(data={'algebra':[10],'biolog':[7],'chem':[11],'eng_lang':[8], 'geogr':[9], 'geom':[10], 'hist_ukr':[8], 'inform':[11], 'physics':[11], 'ukr_lang':[10], 'ukr_lit':[11], 'world_hist':[7], 'world_lit':[10]})
new_data1

,algebra,biolog,chem,eng_lang,geogr,geom,hist_ukr,inform,physics,ukr_lang,ukr_lit,world_hist,world_lit
0,10,7,11,8,9,10,8,11,11,10,11,7,10

In [18]:
output1=prediction_model.predict(new_data1)
output1

array([[183.86771603, 154.47064471, 176.30035068]])

In [19]:
output_data1=pd.DataFrame({'zno_math':[round(output1[0][0])],'zno_ukr':[round(output1[0][1])],'zno_additional':[round(output1[0][2])]})
output_data1

   zno_math  zno_ukr  zno_additional
0     184.0    154.0           176.0